.button_nav_container {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.button_nav_container:hover {
  border: 1px solid whitesmoke;
  border-radius: 15px;
}

.image_container {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

img {
    border-radius: 15px;
}

.image_container img {
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 2s ease-in-out;
  border-radius: 15px;
}
.image_container:hover img {
  border-radius: 15px;
  opacity: 0.25;
  transform: scale(1.25);
}

.content {
  border-radius: 15px;
  opacity: 0;
  position: absolute;
  color: whitesmoke;
  background-color: transparent;
  font-size: 18px;
  top: 45%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  pointer-events: pointer;
  transition: 1.5s ease-in-out;
  pointer-events: none;
  visibility: hidden;

  /* z-index: 4; */
}

.button_nav_container:hover .content {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  border-radius: 15px;
}

.image_container a {
  border-radius: 15px;
}
