.home_container {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.grid_container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 350px);
    grid-auto-rows: 300px;
    grid-gap: 15px;
}

@media(max-width: 800px) {
    .grid_container {
        grid-template-columns: 350px;
    }
  }