.nav_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  height: 140px;
  background-color: black;
  margin-bottom: 20px;
}

.logo_container {
  width: 100%;
  height: 100%;
  display: flex;
}

.button_logo {
  align-self: center;
  align-self: start;
  width: auto;
  height: 140px;
  justify-content: flex-start;
  color: white !important;
  margin-left: 40px !important;
  border-radius: 10px !important;
}

img {
  width: auto;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20px !important;
}

.nav_2 {
  padding-right: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: large;
  display: none;
}

.logo_container_2 {
  display: none;
}

.hamburger {
  display: none;
}

.drawer {
  background-color: rgb(23, 23, 23) !important;
}

.drawer_nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button_main {
  width: auto;
  color: antiquewhite !important;
  font-size: 16px !important;
  padding-left: 3px !important;
  text-transform: none !important;
  font-family: inherit !important;
}

.button {
  width: auto;
  color: white !important;
  margin: 20px !important;
}

@media (max-width: 1000px) {
  .logo_container {
    display: none;
  }

  .button_logo {
    margin-left: 20px !important;
  }

  .logo_container_2 {
    margin-top: 10px;
    display: block;
  }
}

@media (max-width: 800px) {

  .nav {
    display: none;
  }

  .nav_2 {
    display: flex;
  }
}
