.nav_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    height: 140px;
    background-color: white;
}

.logo_container {
    width: 100%;
    height: 100%;
}

img {
    width: auto;
    height: 100%;
}

nav {
    padding-right: 20px;
    display: flex;
    justify-content: right;
    align-items: center;

}

nav a {
    margin: 10px;
    text-decoration: none;
}